Server/emissor/src/backup/
*.dbg
*.exe
Exemplos/Cripto/scr/backup/
Exemplos/Cripto/scr/lib/x86_64-win64/
Server/emissor/Temp/
*.bak
*.LOG
*.INI
Emissor/src/backup/
Emissor/src/lib/x86_64-win64/Debug/
Emissor/src/lib/x86_64-win64/Release/
Emissor/src/lib/x86_64-win64Debug/
Emissor/src/Web/log/
Emissor/web/src/backup/
Emissor/web/src/lib/x86_64-win64/
Emissor/web/src/Web/log/
*.pfx
